*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

/* ********************** NAV BAR ************************ */
header{
    width: 100%;
    height:91px;
    border:1px solid rgb(216, 215, 215);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color:white;
    position:fixed;
    z-index:5;
    opacity:0.1;
}

nav{
    display: flex;
    background-color:white;
    position:fixed;
    z-index:5;
}

.logo{
    height:89px;
    width:230px;
}

.logo:hover{
    background-color:rgb(248, 246, 246);
}
.text:hover{
    background-color:rgb(248, 246, 246);
}

#blinkit{
    height:65%;
    width:85%;
    margin-top:12px;
    margin-left:10px;
}

.text{
    height:85px;
    width:220px;
    text-align:center;
    animation-name:tenmins;
    animation-timing-function:linear;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes tenmins{
    50%{
        transform: scale(1.1,1.1);
    }

    100%{
        transform: scale(1,1);
    }
}

.text h3{
    margin-top:20px;
}
.text p{
    margin-top:5px;
    font-size:14px;
    word-spacing:1px;
    letter-spacing:px;
}

.search_bar{
    height:89px;
    width:500px;
    position: relative;
}
/* ********************** INPUT TAG ************************ */
input{
    height:50px;
    width:100%;
    border-radius:10px;
    border:1px solid grey;
    padding-left:40px;
    background-color:rgb(241, 241, 241);
}

.glass{
    position: relative;
    top:35px;
    left:10px;
}

.login{
    margin-left:100px;
    width:200px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.log{
    color:rgb(70, 68, 68);
    text-decoration: none;
    text-align: center;
}

.log:hover{
    color:green;
}

.cart{
    margin-left:20px;
    height:50px;
    width:130px;
    border-radius:10px;
    background-color:rgb(207, 207, 207);
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:10px;
}
.cart:hover{
    background-color:green;
}

.fa{
    padding:7px;
}

.overall{
    margin-top:100px;
    opacity:0.1;
}

/* ********************** BIG IMG (green) ************************ */
.big_img{
    width:95%;
    height:280px;
    margin-left:30px;
}
/* **************************** FOR MOBILE VIEW ONLY ***************************** */

.title{
    display: none;
    z-index:-1;
}

.mobile_box{
    display: grid;
    grid-template-columns:1fr 1fr;
    display: none;
}

.mobile_box1{
    height: 100px;
    width:230px;
    background-color:rgb(199, 255, 199);
    border-radius:10px;
    margin-top:120px;
    margin-left:10px;
}

.mobile_box2{
    height: 100px;
    width:230px;
    background-color:rgb(199, 255, 199);
    border-radius:10px;
    margin-top:120px;
    margin-left:10px;
}

.mobile_box3{
    height: 100px;
    width:230px;
    background-color:rgb(199, 255, 199);
    border-radius:10px;
    margin-top:30px;
    margin-left:10px;
}

.mobile_box4{
    height: 100px;
    width:230px;
    background-color:rgb(199, 255, 199);
    border-radius:10px;
    margin-top:30px;
    margin-left:10px;
}

.obj1{
    height: 90px;
    width: 160px;
    margin-left:25px;
}

.mobile_box1:hover{
    transform: scale(1.1,1.1);
    border:1px solid grey;
}

.mobile_box2:hover{
    transform: scale(1.1,1.1);
    border:1px solid grey;
}

.mobile_box3:hover{
    transform: scale(1.1,1.1);
    border:1px solid grey;
}

.mobile_box4:hover{
    transform: scale(1.1,1.1);
    border:1px solid grey;
}


/* ********************** MEDIUM IMG (3 img) ************************ */
.medium_img{
    margin-left:50px;
    width:80%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

.medium_img2:hover{
    transform: scale(1.1,1.1);
}

.medium_img3:hover{
    transform: scale(1.1,1.1);
}

.medium_img1:hover{
    transform: scale(1.1,1.1);
}

.medium_img1, .medium_img2, .medium_img3{
    margin-top:20px;
    height:210px;
    width:320px;
}
/* ********************** SMALL IMGS ************************ */
.small_img{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    overflow: hidden;
}

.imgg{
    margin-top:25px;
    margin-left:40px;
    height:200px;
    width:150px;
}

.imgg:hover{
    transform: scale(1.1,1.1);
}

.heading3{
    margin-left:40px;
    margin-top:40px;
}

.heading1{
    margin-left:40px;
}
/* ********************** BOX INSIDE IMGS (scroll) ************************ */
.box_img{
    height:360px;
    width:100%;
    display: grid;
    grid-template-columns:repeat(10,1fr);
    overflow: auto;
}

.boxx_img{
    height:300px;
    width:200px;
    box-shadow: rgba(206, 206, 219, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius:10px;
    margin-top:20px;
    margin-left:40px;
}

.boxxx_img{
    width:150px;
    height:150px;
    margin-top:5px;
    margin-left:25px;
    border-radius:10px;
}

.boxx_img:hover{
    transform: scale(1.1,1.1);
}

.mins{
    height:20px;
    width:70px;
    border-radius:20px;
    background-color:rgb(240, 237, 237);
    font-size:11px;
    margin-left:30px;
}

.boxx_img h5{
    margin-top:10px;
    margin-left:30px;
}

.boxx_img p{
    margin-top:20px;
    margin-left:30px;
    font-size:12px;
    color:rgb(109, 106, 106);
}

.boxx_img h4{
    margin-top:20px;
    margin-left:30px;
    display: flex;
}
 .boxx_img button{
    position: relative;
    top:-30px;
    left:110px;
    height:35px;
    width:75px;
    border-radius:5px;
    color:green;
    background-color:rgb(214, 255, 214);
    border:1px solid green;
    z-index:-1;

    animation-name:addd;
    animation-timing-function:linear;
    animation-duration:1s;
    animation-iteration-count:infinite;
}

@keyframes addd {
        30%{
            transform:rotatez(5deg);
        }
        60%{
            transform: rotatez(-5deg);
        }
        90%{
            transform: rotatez(5deg);
        }
        100%{
            transform:rotatez(-5deg);
        }
    }


 .heading2{
    margin-top:30px;
    margin-left:40px;
}

header{
    margin-top:-100px;
}

             /* ************************* FOOTER *************************** */

.footer{
    width: 100%;
    height:100vh;
    margin-top:50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns:0fr 1fr 1fr 1fr 1fr;
}

.blinkit{
    height:70px;
    width:210px;
    margin-top:20px;
    margin-left:20px;
}

.learn_more{
    height: 300px;
    width: 200px;
    margin-top:100px;
    /* z-index:-1; */
}

.learn_more :first-child{
    font-weight:550;
    padding:10px 0px 10px 0px;
    color: black;
}

.useful_links :first-child{
    font-weight:550;
    padding:10px 0px 10px 0px;
    color: black;
}

.category :first-child{
    font-weight:550;
    padding:10px 0px 10px 0px;
    color: black;
}

.socil_links :first-child{
    font-weight:550;
    padding:10px 0px 10px 0px;
    color: black;
}

.learn_more p{
    padding:10px 0px 0px 0px;
    color: grey;
}

.useful_links p{
    padding:10px 0px 0px 0px;
    color: grey;
}

.category  p{
    padding:10px 0px 0px 0px;
    color: grey;
}

.useful_links{
    height: 300px;
    width: 200px;
    margin-top:100px;
    /* z-index:-1; */
}

.category{
    height: 300px;
    width: 200px;
    margin-top:100px;
    /* z-index:-1; */
}

.socil_links{
    height: 300px;
    width: 200px;
    margin-top:100px;
    /* z-index:-1; */
}

.ps, .as{
    width: 200px;
    height:60px;
    margin-top:20px;
}

.ps:hover{
    transform:scale(1.1,1.1);
}

.as:hover{
    transform:scale(1.1,1.1);
}

.fb:hover{
    transform: scale(1.1,1.1);
}

.ig:hover{
    transform: scale(1.1,1.1);
}

.yt:hover{
    transform: scale(1.1,1.1);
}

.tw:hover{
    transform: scale(1.1,1.1);
}

/* *************************** MEDIA QUERY ***************************** */

@media screen and (min-width:1100px) and (max-width:1200px){
    .small_img{
        display: grid;
        grid-template-columns:repeat(6,1fr);
    }

}

@media screen and (min-width:1000px) and (max-width:1099px){
    .small_img{
        display: grid;
        grid-template-columns:repeat(5,1fr);
        text-align: center;
    }

    .medium_img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        text-align: center;
    }

    .logo{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns:0fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:900px) and (max-width:999px){
    .text{
        width:100%;
        text-align: center  ;
    }

    .text p{
        display:none;
    }

    .search_bar{
        margin-top:100px;
        margin-left:0px;
    }

    .login{
        margin-top:-100px;
    }

    .small_img{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        text-align: center;
    }

    .medium_img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        text-align: center;
        margin-top:100px;
    }

    .big_img{
        display: none;
    }

    .mobile_box{
        display:grid;
        grid-template-columns:1fr 1fr;
        position: relative;
        left:100px;
    }

    .title{
        display:flex;
        position: relative;
        top:100px;
        left:15px;
    }

    .logo{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns:0fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:800px) and (max-width:899px){
    .text{
        width:100%;
        text-align: center  ;
    }

    .text p{
        display:none;
    }

    .search_bar{
        margin-top:100px;
        margin-left:0;
    }

    .login{
        margin-top:-100px;
        margin-left:0;
    }

    .small_img{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        text-align: center;
    }

    .medium_img{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        text-align: center;
        margin-top:100px;
    }

    .big_img{
        display: none;
    }

    .mobile_box{
        display:grid;
        grid-template-columns:1fr 1fr;
        position: relative;
        left:100px;
    }

    .title{
        display:flex;
        position: relative;
        top:100px;
        left:15px;
    }


    .logo{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns:0fr 1fr 1fr;
    }

    .socil_links{
        position: relative;
        top:-190px;
        left:240px;
    }

    .category{
        position: relative;
        top:-190px;
        left:230px;
    }
}

@media screen and (min-width:700px) and (max-width:799px){
    .text{
        width:100%;
        text-align: center  ;
    }

    .text p{
        display:none;
    }

    .search_bar{
        margin-top:100px;

        margin-left:0;
    }

    .small_img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        text-align: center;
    }

    .login{
        margin-top:-100px;
        margin-left:-100px;
    }

    .medium_img{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        text-align: center;
        margin-top:100px;
    }

    .big_img{
        display: none;
    }

    .mobile_box{
        display:grid;
        grid-template-columns:1fr 1fr;
        position: relative;
        left:100px;
    }

    .title{
        display:flex;
        position: relative;
        top:100px;
        left:15px;
    }

    .logo{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns:0fr 1fr 1fr;
    }
    .socil_links{
        position: relative;
        top:-190px;
        left:240px;
    }

    .category{
        position: relative;
        top:-190px;
        left:230px;
    }
}

@media screen and (min-width:300px) and (max-width:699px){
    .text{
        width:100%;
        text-align:center  ;
    }

    .text p{
        display:none;
    }

    .search_bar{
        margin-top:100px;
        left:-40px;
        width:400px;
    }

    .small_img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        text-align: center;
    }

    .login{
        margin-top:-100px;
        margin-left:-200px;
    }

    .medium_img{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        text-align: center;
        margin-top:100px;
    }

    .big_img{
        display: none;
    }

    .logo{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns:0fr 1fr 1fr;
    }

    .learn_more{
        position: relative;
        left:-180px;
    }

    .useful_links{
        position: relative;
        left:-200px;
    }

    .category{
        position: relative;
        top:-190px;
        left:50px;
    }

    .socil_links{
        position: relative;
        top:-190px;
        left:0px;
    }
}

@media screen and (min-width:300px) and (max-width:1000px){
    .text{
        width:100%;
        text-align:center;
    }
}    


/* ********************************************************************************************** */
@media screen and (min-width:300px) and (max-width:699px){
    .mobile_box{
        display:grid;
        grid-template-columns:1fr 1fr;
        justify-content: center;
        align-items:center;
        align-items: center;
    }

    .title{
        display:flex;
        position: relative;
        top:100px;
        left:15px;
    }
}




/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */
/* ********************************* LOG IN PAGE ************************************** */

.login_div{
    height:380px;
    width: 550px;
    background-color:white;
    border-radius:20px;
    margin: auto;
    position: relative;
    top:-3650px;
    opacity:2;
    z-index:15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#login_logo{
    height:100px;
    width:100px;
    margin-left:225px;
    text-align: center;
    margin-top:20px;
    border-radius:10px;
}

.login_div h2{
    text-align: center;
    margin-top:20px;
}

.login_div p{
    text-align: center;
    margin-top:10px;
    word-spacing:2px;
    color:grey;
    font-weight:550;
}

.login_input{
    width:300px;
    margin-left:130px;
    margin-top:10px;
}

#but{
    border-radius:10px;
    color:white;
    font-size:16px;
    background-color: rgb(184, 184, 184);
    border:2px solid rgb(184, 184, 184);
    padding:15px;
    padding-left:117px;
    padding-right:117px;
    margin-left:130px;
    margin-top:50px;
    position: relative;
    top:30px;
    text-decoration: none;
}

#terms{
    text-align: center;
    text-decoration: none;
    color:grey;
    font-size:12px;
    margin-left:110px;
    margin-top:50px;
    position: relative;
    top:70px;
}

#but:hover{
    background-color:green;
    border:2px solid green;
}

